# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Docker
*.log
*.pid
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Output
output.json
*.out

# Test and temp
*.tmp
*.bak

# PDF and data
pdfs/*.pdf

# Ignore test outputs
/test/*.json
